# Nextflow
.nextflow*
work/
testing/
testing*
null/
.lineage/

# Snakemake
.snakemake/
snakemake-*.log

# SRA / fasterq-dump temp files
fasterq.tmp.*/
*.sra
*.fastq
*.fastq.gz

# Data files
data/raw/*
data/reference/*
data/trim/

# Results / logs
results/
logs/

# Conda / environments
.conda/
envs/*.lock

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# R
.Rhistory
.RData
.Rproj.user/

# OS / editor
.DS_Store
*.swp
*~
