/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: DOWNLOAD_READS {
        errorStrategy = 'retry'
        maxRetries    = 3
    }

    withName: DOWNLOAD_REFERENCE {
        errorStrategy = 'retry'
        maxRetries    = 3
    }

    withName: BWA_MEM {
        // Read group required by GATK downstream
        ext.args = { "-R '@RG\\tID:${meta.id}\\tSM:${meta.id}\\tPL:ILLUMINA\\tLB:lib1'" }
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: 'BCFTOOLS_ANNOTATE.*' {
        ext.args   = '-Oz'
        ext.prefix = { "${meta.id}" }
    }

    withName: GATK4_MARKDUPLICATES {
        ext.prefix = { "${meta.id}.dedup.bam" }
        ext.args   = '--REMOVE_DUPLICATES false --CREATE_INDEX true'
    }

    withName: GATK4_BASERECALIBRATOR {
        ext.prefix = { "${meta.id}.recal" }
    }

    withName: GATK4_APPLYBQSR {
        ext.prefix = { "${meta.id}.recal" }
        ext.args   = '--create-output-bam-index true'
    }

    withName: GATK4_HAPLOTYPECALLER {
        ext.prefix = { "${meta.id}.raw" }
        ext.args   = { params.variant_interval ? "-L ${params.variant_interval}" : '' }
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
